.*
!.github
!.gitignore
!.gitattributes
!.editorconfig
[Bb]uild/
[Bb]in/
[Oo]bj/
[Oo]ut/
[Pp]roperties/
assemblies
!resources/assemblies
resources/commit
*.csproj
*.user
*.snk
App.config
constants/Setting.cs